{% extends 'base.html' %}


{% block body %}<h1 style="background-color:powderblue;">WELCOME TO MY CONTACT</h1>
<div class="container my-4"><p style="background-color:tomato;">CONTACT US:-</p></div>
<div class="container  ">
<form action="/message" method="POST" >
    {% csrf_token %}
    

  <div class="form-group">
    <label for="message">Message</label>
    <textarea class="form-control" id="message"  name="message" rows="5"></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>

 {% endblock %}